body {
	background: #777777;
	font-family: "Courier", monospace;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#gameWindow {
	width: 800px;
	height: 650px;
	margin: 0px auto;
	position: relative;
}

#welcome {
	background: #000000;
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
}

#welcome h1 {
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#welcome a {
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 300px;
}


#gameWin {
	background: #000000;
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#gameWin h1 {
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#gameWin h2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#gameWin a {
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 300px;
}

#gameLose {
	background: #000000;
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#gameLose h1 {
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#gameLose h2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#gameLose a {
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 300px;
}

#gamePlay {
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#gamePlay h2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	text-align: left;
}


#sky {
	width: 100%;
	height: 100%;
	float: left;
	display: block;
	position: relative;
}

#aliens {
	width: 90%;
	height: auto;
	float: left;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

#aliens .alien-column {
	width: 12.5%;
	height: auto;
	float: left;
	display: block;
	padding: 1px 0px;
}

#aliens .alien-column .alien {
	background: url("../img/aliens.gif") no-repeat;
	width: 86px;
	height: 60px;
	float: left;
	margin: 4px;
}
#aliens .alien-column .alien.alien1 {
	background-position: -9px 0px;
}
#aliens .alien-column .alien.alien2 {
	background-position: -116px 0px;
}
#aliens .alien-column .alien.alien3 {
	background-position: -215px 0px;
}

#ground {
	width: 100%;
	height: 180px;
	display: block;
	float: left;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#ground #buildings {
	width: 100%;
	height: 120px;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
}

#ground #buildings .building {
	background: url(../img/building.png) no-repeat;
	width: 120px;
	height: 120px;
	float: left;
	position: absolute;
	top: 0px;
}
#ground #buildings .building.damage0 { background-position: 0px 0px; }
#ground #buildings .building.damage1 { background-position: -120px 0px; }
#ground #buildings .building.damage2 { background-position: -240px 0px; }
#ground #buildings .building.damage3 { background-position: -360px 0px; }

#fighter {
	background: url(../img/fighter.png) center center no-repeat;
	width: 100px;
	height: 50px;
	float: left;
	display: block;
	position: absolute;
	left: 350px;
	bottom: 0px;
}

.missile {
	background: #ffffff;
	width: 5px;
	height: 15px;
	float: left;
	position: absolute;
	z-index: 100;
}


.bomb {
	background: #ffffff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	float: left;
	position: absolute;
	z-index: 100;
}


